#clockcontainer{
    position: relative;
    border: 2px solid black;
    height: 40vw;
    width: 40vw;
    background-image: url(clock.jpeg);
    background-size: 100%;
    margin: auto;

}
#hour,#minute,#second{
    position: absolute;
    background-color: black;
    border-radius: 10px;

}
#hour{
    width: 2%;
    height: 22%;
    top: 28%;
    left: 49.5%;
    

}
#minute{
    width: 2%;
    height: 22%;
    top: 33%;
    left: 49.5%;
    

}
#second{
    width: 1%;
    height: 28%;
    top: 23%;
    left: 49.9%;
}
    

